img.club{
    width:20px;
}
img.wederson{
    content: url("https://s3.glbimg.com/v1/AUTH_58d78b787ec34892b5aaa0c7a146155f/cartola_svg_180/escudo/bb/33/33/00981cef0b-6562-4706-8e78-b461b91ba0bb20200914113333");
}
img.rodrigocunha{
    content: url("https://s3.glbimg.com/v1/AUTH_58d78b787ec34892b5aaa0c7a146155f/cartola_svg_188/escudo/9c/13/17/00d2b20b06-7f47-465d-89c7-6487e9d5ef9c20210525121317");
}
img.silas{
    content: url("https://s3.glbimg.com/v1/AUTH_58d78b787ec34892b5aaa0c7a146155f/cartola_svg_185/escudo/80/59/01/00841c87ce-ceae-4b6a-b93a-d9d6dea9fc8020210429125901");
}
img.pepe{
    content: url("https://upload.wikimedia.org/wikipedia/commons/1/19/Escudo_CR_Vasco_da_Gama.png");
}
img.bnlopes{
    content: url("https://s3.glbimg.com/v1/AUTH_58d78b787ec34892b5aaa0c7a146155f/cartola_svg_190/escudo/6d/16/10/00bc3126b6-e99c-4fa2-bce6-a366601f5c6d20210529001610");
}
img.wallace{
    content: url("https://s3.glbimg.com/v1/AUTH_58d78b787ec34892b5aaa0c7a146155f/cartola_svg_111/escudo/99/34/53/00d5bbf86a-0e48-433e-a14a-9a1f6414569920180414023453");
}
img.jvb{
    content: url("https://s3.glbimg.com/v1/AUTH_58d78b787ec34892b5aaa0c7a146155f/cartola_svg_188/escudo/27/16/10/00c4d47a11-3891-400d-acda-24cd90295c2720210525201610");
}
img.tiagosilva{
    content: url("https://s3.glbimg.com/v1/AUTH_58d78b787ec34892b5aaa0c7a146155f/cartola_svg_190/escudo/26/26/08/00f81a6a6f-087f-4150-91b4-63f5befe8f2620210528232608");
}
img.edu{
    content: url("https://s3.glbimg.com/v1/AUTH_58d78b787ec34892b5aaa0c7a146155f/cartola_svg_187/escudo/38/13/14/002ab7f35b-c2a9-4a18-b694-19e6ea4a003820210522141314");
}
img.vr7{
    content: url("https://s3.glbimg.com/v1/AUTH_58d78b787ec34892b5aaa0c7a146155f/cartola_svg_191/escudo/e3/07/27/00a816f0e4-1c5c-47c3-aa17-5976a89ee7e320210529110727");
}
img.mateus{
    content: url("https://s3.glbimg.com/v1/AUTH_58d78b787ec34892b5aaa0c7a146155f/cartola_svg_191/escudo/b0/33/09/00c58956ec-48d4-4ac2-9a17-ddd2d5c265b020210529103309");
}